@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

:root{
  --green:#3A9943;
  --brown:#503900;
  --nude:#F2D2BD;
  --puce:#A95C68;
  --black: #28282B;
  --light:#db929d;
  --grey:#C0C0C0;
  --lightgrey: #C0C0C0;
}


:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;
}


*{
    font-family: 'Exo 2', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

  
html::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

html::-webkit-scrollbar-thumb {
  background: var(--brown);
}

body{
  /* font-family: "Raleway"; */
  font-family: 'Exo 2', sans-serif;
}

  /* --------------------------------- HEADING----------------------------------- */
  /* top alkaram heading */
  .topALkheading {
    padding: 2rem 9%;
    /* background-color: var(--lightgrey); */
  }
  
  .topalkhead {
    font-size: 10.5rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .09rem var(--btn-bg);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
    font-weight: 600;
  }
  
  .topalkhead span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--brown);
    font-size: 9.5rem;
    font-weight: 600;
  }
  
  @media(max-width:768px) {
  
    .topalkhead {
        font-size: 5rem;
    }
  
    .topalkhead span {
        font-size: 4.3rem;
    }
  }




/* ------------------------------------------slider----------------------------------------- */
.alkaramslider {
    width: 100%;
    height: 100vh;
  }
  
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: var(--lightgrey);
    overflow: hidden;
  }
  
  .slide-image {
    position: absolute;
    top: -200px;
    left: -200px;
    width: calc(100% + 400px);
    height: calc(100% + 400px);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .slide-title {
    font-size: 4rem;
    line-height: 1;
    max-width: 50%;
    white-space: normal;
    word-break: break-word;
    color: var(--brown);
    z-index: 100;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
  }
  
  @media (min-width: 45em) {
    .slide-title {
        font-size: 7vw;
        max-width: none;
    }
  }
  
  .slide-title span {
    white-space: pre;
    display: inline-block;
    opacity: 0;
  }
  
  .slideshow {
    position: relative;
  }
  
  .slideshow-pagination {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .3s opacity;
    z-index: 10;
  }
  
  .slideshow-pagination-item {
    display: flex;
    align-items: center;
  }
  
  .slideshow-pagination-item .pagination-number {
    opacity: 0.5;
  }
  
  .slideshow-pagination-item:hover,
  .slideshow-pagination-item:focus {
    cursor: pointer;
  }
  
  .slideshow-pagination-item:last-of-type .pagination-separator {
    width: 0;
  }
  
  .slideshow-pagination-item.active .pagination-number {
    opacity: 1;
  }
  
  .slideshow-pagination-item.active .pagination-separator {
    width: 10vw;
  }
  
  .slideshow-navigation-button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    z-index: 1000;
    transition: all .3s ease;
    color: #FFF;
  }
  
  .slideshow-navigation-button:hover,
  .slideshow-navigation-button:focus {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .slideshow-navigation-button.prev {
    left: 0;
  }
  
  .slideshow-navigation-button.next {
    right: 0;
  }
  
  .pagination-number {
    font-size: 3.8rem;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
  }
  
  .pagination-separator {
    display: none;
    position: relative;
    width: 40px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
    transition: all .3s ease;
  }
  
  @media (min-width: 45em) {
    .pagination-separator {
        display: block;
    }
  }
  
  .pagination-separator-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transform-origin: 0 0;
  }



  /* ----------------sub heading----------------- */
.headingm{
  text-align: center;
  font-size: 6.5rem;
  color:var(--black);
  padding:1rem;
  margin:2rem 0;
  font-weight: 650;
  /* background:rgba(255, 51, 153,.05); */
  /* background-color: lightgray; */
}

.headingm span{
  color:var(--brown);
}

@media (max-width:450px){


  .headingm{
      font-size: 5.5rem;
  }

}

/* ----------------cards-------------- */
/* =========================================btn----------------------------------------- */
.btnn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--brown);
  color:var(--lightgrey);
  font-size: 1.8rem;
  padding:.9rem 3.5rem;
  cursor: pointer;
}

.btnn:hover:hover{
  background:var(--black);
  color:#fff;
}


/* ----------------------------------card----------------------------------- */
.featured{
  margin-left: 5rem;
  margin-right: 5rem;
}
.featured .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.featured .box-container .box{
  flex:1 1 27rem;
  background: var(--lightgrey);
  border:.1rem solid var(--black);
  border-radius: .5rem;
  padding:1rem;
}

.featured .box-container .box .image-container{
  display: flex;
  gap:1.5rem;
  align-items: center;
  padding:1rem;
  /* height: 378px; */
}

.featured .box-container .box .image-container .small-image{
  width:20%;
}

.featured .box-container .box .image-container .big-image{
  width:80%;
}

.featured .box-container .box .image-container .small-image img{
  width:100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border:.3rem solid var(--black);
  cursor: pointer;
}

.featured .box-container .box .image-container .big-image img{
  width:100%;
}

.featured .box-container .box .content{
  padding:1rem;
  border-top: .2rem solid var(--black);
  /* height: 278px; */
}

.featured .box-container .box .content h3{
  font-size: 2.5rem;
  color:var(--brown);
}

.featured .box-container .box .content .stars{
  padding: .5rem 0;
}

.featured .box-container .box .content .stars i{
  font-size: 1.5rem;
  color:var(--brown);
}

.featured .box-container .box .content .stars span{
  font-size: 1.5rem;
  color:var(--brown);
  font-weight: 300;
}

.featured .box-container .box .content p{
  color:var(--black);
  font-size: 1.5rem;
  padding:.5rem 0;
}

.featured .box-container .box .content .price{
  color:var(--brown);
  font-size: 2.5rem;
  padding:.5rem 0;
  font-weight: bolder;
}

.featured .box-container .box .content .price span{
  color:var(--black);
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 300;
}


/* button */
.btnn{
  display: inline-block;
  margin-top: 1rem;
  padding:.7rem 2.5rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  color:var(--brown);
  background:var(--third-bg-color);
  position: relative;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  overflow: hidden;
  z-index: 0;
  font-weight: 600;
  margin-left: 4rem;
}

.btnn::before{
  content: '';
  position: absolute;
  top:0; left:0;
  height: 100%;
  width:100%;
  clip-path: polygon(0 0, 100% 0, 10% 25%, 0 100%);
  z-index: -1;
  background:#444;
  transition: .3s cubic-bezier(.38,1.15,.7,1.12);
  
}

.btnn:hover:before{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.btnn:hover{
  color:var(--third-bg-color);
  font-weight: 500;
}



/* ------------------------- footer ------------------- */

:root{
  --primary-color:#ff5e14;
  --bg-color:#151414;
  --light-black:#373636;
  --light-black-2:#2e2e2e;
  --light-black-3:#202020;
  --white-color:#fff;
  --dark-gray:#757575;
  --dark-gray-2:#7e7e7e;
  --dark-gray-3:#878787;
  --facebook:#3b5998;
  --twitter:#55acee;
  --instagram:#e93b81;
}

:root{
--green:#3A9943;
--brown:#503900;
--nude:#F2D2BD;
--puce:#A95C68;
--black: #28282B;
--light:#db929d;
--grey:#C0C0C0;
--lightgrey: #C0C0C0;
}


:root {
  --main-bg-color: #fff;
  --second-bg-color: #f5f5f5;
  --third-bg-color: #e3e3e3;
  --grey: #4b4b4b;
  --black: #000;
  --red: #c0392b;
  --top-header-size: 30px;
  --mid-header-size: 80px;
  --bottom-header-size: 45px;
  --btn-bg: #000;
  --btn-border-color: #000;
  --btn-color: #fff;
  --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
  --border:.2rem solid var(--brown);
  --border-hover:.2rem dashed var(--brown);



  --primary-color:#ff5e14;
  --bg-color:#151414;
  --light-black:#373636;
  --light-black-2:#2e2e2e;
  --light-black-3:#202020;
  --white-color:#fff;
  --dark-gray:#757575;
  --dark-gray-2:#7e7e7e;
  --dark-gray-3:#878787;
  --facebook:#3b5998;
  --twitter:#55acee;
  --instagram:#e93b81;
}


/* ------------------------- footer ------------------- */

:root {
  --primary-color: #ff5e14;
  --bg-color: #000000;
  --light-black: #373636;
  --light-black-2: #2e2e2e;
  --light-black-3: #202020;
  --white-color: #fff;
  --dark-gray: #757575;
  --dark-gray-2: #7e7e7e;
  --dark-gray-3: #878787;
}

.pagefooter ul {
  margin: 0px;
  padding: 0px;
}

.pagefooter .footer-section {
  /* background: linear-gradient(rgb(39, 28, 0), black); */
  /* background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url("endering-devushka-lico.jpg"); */
  background-color: var(--dark-gray);
  background-size: cover;
  background-position: center;
  position: relative;
}

.pagefooter .footer-cta {
  border-bottom: 1px solid var(--brown);
}

.pagefooter .single-cta i {
  color: var(--black);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.pagefooter .cta-text {
  padding-left: 15px;
  display: inline-block;
}

.pagefooter .cta-text h4 {
  color: var(--brown);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2px;
}

.pagefooter .cta-text span {
  color: var(--black);
  font-size: 18px;
}

.pagefooter .footer-content {
  position: relative;
  z-index: 2;
}

.pagefooter .footer-logo {
  margin-bottom: 30px;
}

.pagefooter .footer-logo img {
  max-width: 200px;
}

.pagefooter .footer-text p {
  margin-bottom: 14px;
  font-size: 16px;
  color: var(--bg-color);
  line-height: 28px;
}

.pagefooter .footer-widget-heading h3 {
  color: var(--brown);
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.pagefooter .footer-widget-heading h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 100%;
  background: var(--bg-color);
}

.pagefooter .footer-social-icon h4 {
  color: var(--bg-color);
  font-size: 25px;
  font-weight: 700;
  padding-top: 1rem;
  margin-bottom: 40px;
  position: relative;
}

.pagefooter .footer-social-icon h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 100%;
  background: var(--bg-color);
}

.pagefooter .footer-weight ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.pagefooter .footer-weight ul li a:hover {
  padding-left: 4px;
  color: brown;
}

.pagefooter .footer-weight ul li a {
  color: black;
  transition: 0.2s;
  text-decoration: none;
  text-transform: capitalize;
}

.pagefooter .subscribe-form {
  position: relative;
  overflow: hidden;
}

.pagefooter .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: var(--lightgrey);
  border: 1px solid var(--black);
  color: var(--bg-color);
}

.pagefooter .subscribe-form button {
  position: absolute;
  right: 0;
  background: #503900;
  padding: 13px 20px;
  border: 1px solid #503900;
  top: 0;
}

.pagefooter .subscribe-form button i {
  color: var(--white-color);
  font-size: 25px;
  transform: rotate(-6deg);
}

.pagefooter .copyright-area {
  background: var(--dark-gray);
  padding: 25px 0;
}

.pagefooter .copyright-text p {
  margin: 0;
  font-size: 17px;
  color: var(--bg-color);
}

.pagefooter .copyright-text p a {
  color: var(--bg-color);
}

.pagefooter .footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.pagefooter .footer-menu li:hover a {
  color: brown;
}

.pagefooter .footer-menu li a {
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
  color: black;
}

@media (max-width:1030px) {
  .mb-30 {
      margin-bottom: 30px;
  }

  .pagefooter .footer-text p,
  .pagefooter .footer-social-icon {
      margin-bottom: 30px;
  }
}



/* ---------------------- links --------------------- */
.wrapper {
  text-align: center;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.footer .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.footer .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.footer .button:nth-child(3):hover .icon {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.footer .button:nth-child(4):hover .icon {
  background: rgb(0, 153, 8);
}

.footer .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.footer .button .icon i {
  color: rgb(80, 57, 0);
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.footer .btn:hover .icon i {
  color: #fff;
}

.footer .btn:nth-child(1) span {
  color: #4267B2;
}

.footer .btn:nth-child(2) span {
  color: #1DA1F2;
}

.footer .btn:nth-child(3) span {
  color: #E1306C;
}

.footer .btn:nth-child(4) span {
  color: #333;
}

.footer .btn:nth-child(5) span {
  color: #ff0000;
}


/* -------------------links--------------- */



.footer .share{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:1rem 0;
}

.footer .share a{
  height:5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  margin:1rem;
  font-size: 2rem;
  text-align: center;
  padding:0;
}

.footer .button .icon i {
  color: rgb(80, 57, 0);
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.footer .btn:hover .icon i {
  color: #fff;
}

.footer .btn:nth-child(1) i {
  color: #4267B2;
}

.footer .btn:nth-child(2) i {
  color: #1DA1F2;
}

.footer .btn:nth-child(3) i {
  color: #E1306C;
}

.footer .btn:nth-child(4) i {
  color: #1DA1F2;
}

.footer .btn:nth-child(5) i {
  color: #ff0000;
}



.scroll {
  position: fixed;
  width: 50px;
  height: 40px;
  background-color: rgb(66, 66, 66);
  color: white;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 23px;
  line-height: 50px;
  border-bottom-left-radius: 102px;
  border-bottom-right-radius: 102px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  transition: ease all 0.9s;
  margin-bottom: 3.5rem;
}

.scroll:hover {
  width: 54px;
  height: 44px;
  color: white;
}

