@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root{
  --color:#6C5CE7;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap);

:root{
  --green:#3A9943;
  --brown:#503900;
  --nude:#F2D2BD;
  --puce:#A95C68;
  --black: #28282B;
  --light:#db929d;
  --grey:#C0C0C0;
  --lightgrey: #C0C0C0;
}


*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
  font-family: "Raleway";
}







/* 
.home .wave{
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height:11rem;
  width: 100%;
  background-image: url(./img/FAQs-cuate.png);
  background-size: 100rem 11rem;
  background-repeat: repeat-x;
  animation:waves 10s linear infinite;
}

.home .wave2{
  animation-direction: reverse;
  opacity: .2;
}

.home .wave3{
  animation-duration: 4s;
  opacity: .5;
}

@keyframes waves{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 100rem;
  }
}

.home .fa-cog{
  position: absolute;
  font-size: 30rem;
  opacity: .15;
  color:#fff;
  animation: rotate 10s linear infinite;
}

.home .nut1{
  top:10%; left: -15rem;
}

.home .nut2{
  bottom:23%; right: -13rem;
  animation-direction: reverse;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
} */



.faq{
  /* min-height: 100vh; */
  margin-top: -0.5rem;
  width: 100vw;
  text-align: center;
  padding:0 2rem;
  background-color: var(--lightgrey);

}

.faq .row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 2rem;
}

.faq .row .image img{
  height:100vh;
  width:50vw;
}

.faq .row .accordion-container{
  width: 50%;
  text-align: left;
}

.faq .row .accordion-container .accordion .accordion-header{
  background-color: var(--brown);
  margin:1rem 0;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  cursor: pointer;
}

.faq .row .accordion-container .accordion .accordion-header span{
  display: inline-block;
  text-align: center;
  height:4rem;
  width:5rem;
  line-height: 4rem;
  font-size: 3rem;
  background:var(--grey);
  color:#28282B;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.faq .row .accordion-container .accordion .accordion-header h3{
  display: inline;
  color: whitesmoke;
  font-weight: 500;
  padding-left: .5rem;
  font-size: 1.8rem;
}

.faq .row .accordion-container .accordion .accordion-body{
  padding:1rem;
  color:#444;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  font-size: 1.3rem;
  display: none;
}

.faq .row .accordion-container .accordion:nth-child(1) .accordion-body{
  display: block;
}
















/* media queries  */

@media (max-width:768px){

  html{
    font-size: 50%;
  }

  .faq{
    padding:0;
  }

  .faq .row{
    padding:0 1rem;
    flex-flow: column;
  }

  .faq .row .image img{
    width:100vw;
  }

  .faq .row .accordion-container{
    width:100%;
  }

}
