@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap);

:root{
  --green:#3A9943;
  --brown:#503900;
  --nude:#F2D2BD;
  --puce:#A95C68;
  --black: #28282B;
  --light:#db929d;
  --grey:#C0C0C0;
  --lightgrey: #C0C0C0;
}


:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;
}


*{
  font-family: "Raleway";
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #775e19 60%, #594b24 40.1%);
  
}

.container form{
  padding:20px;
  width:700px;
  background: lightgrey;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  /* height: 568px; */
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: var(--brown);
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
}

.container form .submit-btn:hover{
  background: grey;
  color: #28282B;
  font-weight: 600;
}
